/* Variables */

$color-one: #1e90ff;
$color-two: #eccc68;
$color-three: #2ed573;
$color-main: #2f3542;

$font-text: 'Merriweather', serif;
$font-header: 'Lato', sans-serif;

$transition: all 1s;
/* Global */

*, *::before, *::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    line-height: 1.23;
    font-family: $font-text;
    color: $color-main;
    background: #fff;
}
h1, h2, h3 {
    font-family: $font-header; 
    font-weight: 100;
    line-height: 1.02;

}
.container {
    max-width: 1140px;
    padding: 0 27px;
    margin: 12px auto;
}

.section {
    padding: 96px 0;
}
.btn {
    display: inline-block;
    margin: 12px auto 0 auto;
    padding: 12px 21px;
    border-radius: 6px;
    font-family: $font-header;
    font-size: 15px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    background-position: 100% 0;
    background-size: 300%;
    transition: $transition;  
    color: $color-three; 
    background-color: #fff;
    font-weight: 900; 
    text-transform: uppercase;
    border: none;
    
    &:hover {
        background-position: 0 100% ;  
        color: $color-one;
    }
}

.btn-one {
    background-image: linear-gradient(69deg, $color-two 50%, transparent 50%);
}

.section-title {width: 100%; 
    position: relative;
    margin: 27px 0 21px 0;
    text-align: center;
    font-weight: 900; font-style: italic;
    text-transform: uppercase;
    letter-spacing: 3px; 
    
    &::after {
        position: absolute;
        content: '';
        bottom: -12px; 
        left: 50%;
        width: 12%;
        height: 3px;
        transform: translateX(-50%);
        background: $color-three;
        opacity: 27%;
    }
} 



/* Navigation */
.navigation {background-color: transparent; padding: 12px 12%;}
.navbar-toggler {position: relative;}
.navbar-brand {font-size: 1.44em;
	font-weight: 700; font-style: italic;
	font-family: $font-text; color: $color-two;letter-spacing: -1px;
	&:hover {color: $color-main;}
}
.navbar-nav a {
	font-family: $font-header; letter-spacing: 1px;
	font-variant: small-caps;
	font-weight: 900;
	color: #fff;
	&:hover {
		color: $color-one;
	}
}

/* Slider */
.carousel-inner {position: absolute; top: 0; z-index: -1;
	height: 100vh;
}
.carousel-caption {top:27%; left: 21%; transform: translatex(-50%, -50%);}
.page-title {
    color: #fff;
    margin: 0; 
    right: 12px; 
    top: 21px;
    font-size: 51px;
    font-style: italic;
    letter-spacing: -3px;
    word-spacing: 3px;  
    
    span {
        font-weight: 700;
        font-style: normal;
        font-size: 57px;
        letter-spacing: 0;
    }
}

.page-subtitle {
    font-family: $font-text;
    font-weight: 400;
    font-size: 18px;
    font-variant: small-caps;
    word-spacing: 3px;   
 }

