/* Variables */

$color-one: #1e90ff;
$color-two: #eccc68;
$color-three: #2ed573;
$color-main: #2f3542;

$font-text: 'Merriweather', serif;
$font-header: 'Lato', sans-serif;

$transition: all 1s;
/* Global */

*, *::before, *::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    line-height: 1.23;
    font-family: $font-text;
    color: $color-main;
    background: #fff;
}
h1, h2, h3 {
    font-family: $font-header; 
    font-weight: 100;
    line-height: 1.02;

}
.container {
    max-width: 1140px;
    padding: 0 27px;
    margin: 12px auto;
}

.section {
    padding: 96px 0;
    height: 100%;
}
.btn {
    display: inline-block;
    margin: 12px auto 0 auto;
    padding: 6px 18px;
    border-radius: 6px;
    font-family: $font-header;
    font-size: 18px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    background-position: 100% 0;
    background-size: 300%;
    transition: $transition;  
    color: $color-main; 
    background-color: #fff;
    font-weight: 700;
    font-style: italic;
    border: none;
    letter-spacing: 1px;
    
    &:hover {
        background-position: 0 100% ;  
        color: #fff;
    }
}

.btn-one {
    background-image: linear-gradient(69deg, $color-two 50%, transparent 50%);
}

.section-title {width: 100%; 
    position: relative;
    margin: 57px 0 57px 0;
    text-align: center;
    font-weight: 900; font-style: italic;
    text-transform: uppercase;
    letter-spacing: 3px; 
    
    &::after {
        position: absolute;
        content: '';
        bottom: -12px; 
        left: 50%;
        width: 12%;
        height: 3px;
        transform: translateX(-50%);
        background: $color-three;
        opacity: 27%;
    }
} 



/* Navigation */
.navigation {background-color: transparent; padding: 12px 12%;position: absolute; z-index: 2}
.navbar-toggler {position: relative;}
.navbar-brand {font-size: 1.44em;
	font-weight: 900; font-style: italic;
	font-family: $font-header; color: $color-one;letter-spacing: 2px;
	&:hover {color: $color-main;}
}
.navbar-nav a {
	font-family: $font-header; letter-spacing: 1px;
	font-variant: small-caps;
	font-weight: 900;
	color: #fff;
	&:hover {
		color: $color-one;
	}
}
.navbar-nav a {
	font-family: $font-header; letter-spacing: 1px;
	font-variant: small-caps;
	font-weight: 900;
	color: #fff;
	&:hover {
		color: $color-one;
	}
}

/* Slider */
.carousel-inner {top: 0;
	height: 100%; margin:0;
}
.carousle-item img {width: 100%; height: 100%; object-fit: cover;}
.carousel-caption {top:27%; left: 21%; transform: translatex(-50%, -50%);z-index: 1;}
.page-title {
    color: #fff;
    margin: 12px; 
    right: 12px; 
    top: 21px;
    font-size: 51px;
    font-style: italic;
    letter-spacing: -3px;
    word-spacing: 3px;  
    
    span {
        font-weight: 700;
        font-style: normal;
        font-size: 57px;
        letter-spacing: 0;
    }
}

.page-subtitle {
    font-family: $font-text;
    font-weight: 400;
    font-size: 18px;
    font-variant: small-caps;
    word-spacing: 3px;   
 }

 /** Talents **/

.talents i {font-size: 27px; width: 100%; text-align: center; margin-bottom: 21px}
.box-title {
	color: $color-main;
	width: 100%; text-align: center; 
	font-family: $font-text; 
	font-weight: 700;
	font-style: italic;
}


.box-text {color: $color-main; font-weight: 500;padding: 12px 57px 0 57px; text-align: center; }

/** Portfolio **/

.card { margin-bottom: 27px;
    
    img {
        width: 100%;
         height: 345px; 
        object-fit: cover;
    }
    
    .card-body {color: $color-main;
     	text-align: center;
    }
     .card-title {
     	width: 100%;
     	font-family: $font-header;
     	font-weight: 200;
     	font-size: 1.44em;
     	letter-spacing: 3px;
     	color: $color-one;
     }
    a {
    	margin: -12px 0 -12px;
    }
}


/** Footer **/

.footer {background-color: $color-two;   background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center; 
  height: auto;
  margin: 0;width: 100%;
  padding-left: 3%;
  margin-bottom: -51px;

    p {font-family: $font-header; 
    	color: $color-main;
    	font-weight: 300; 
    	letter-spacing: 6px;
    	font-variant: small-caps;
    }
    
    i { 
    text-align: center;
    display: block;
    font-size: 15px;
    height: 27px;
    width: 27px;
    margin: 12px 27px;
    line-height: 27px;
    border-radius: 50%;
    background-color: #fff; 
    color: $color-one;
    &:hover {
        transform: scale(1.2); 
        color: $color-three;
        }
    }
    
    a {
    font-size: 0;
    text-decoration: none;
    }
    
    ul { 
    display: flex; 
    margin: 0;
    list-style-type: none;
    justify-content: center;
    }  
}
